label{display: block;}
body{width: 100%;
background-color: #0B3C5D;
color: #DDE9F3;
    font-family: poppins, sans-serif}
form{width: 80vw;
margin: 0 auto;
 }
.same{width: 100%;}
h1,p{text-align: center;
background-color: #1B4F72;
width: 80vw;
margin: 0 auto;}
fieldset{padding-bottom: 20px;
border: 0 ;background-color: #1B4F72;}
hr{border: 0;}
input,select,textarea{background-color: #A2B9C9;
color: #395368;}
.container{max-width: 500px;
          margin: 20px auto;}
